body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #32373c;
  color: white;
  padding: 1em 0;
}

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 1em;
}

h2 {
  color: #32373c;
}

h3 {
  color: #2c2f33;
}

footer {
  text-align: center;
  padding: 1em 0;
  background-color: #32373c;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}
